{% extends('base.html.twig') %}

{% block body %}
<div class="container">
    <div class="count">
    <p>{{code | capitalize}} : {{ pagination.getTotalItemCount }} résultats</p>
    </div>
        <div class="row">
        {% for product in pagination %}
            <div class="col-md-4">
                <a href="{{path('product_show', {'id' : product.id})}}">
                    <img src="{{asset('assets/images/' ~ product.geturlImage())}}">
                    <p>{{product.description}}</p>
                    <p>Prix : {{product.price}} euros</p>
                    <p>{{product.code}}</p>
                </a>
            </div>
        {% endfor %}
        </div
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}